<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Продукты</h2>
            <a href="/backend/web/products/productform" class="btn btn-primary">Добавить</a>
            {{ data | raw }}
            <a class="btn btn-primary" style="color:#fff;" href="/backend/web/">Назад</a>
        </div>
    </div>
</div>