<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Шаблоны</h2>
            {{ list | raw }}
            <a href="/backend/web/templates/update" class="btn btn-primary">Добавить шаблон</a>
        </div>
    </div>
</div>