.navbar .in {
  display: block !important;
}
.filter-templates{
  display:block !important;
  & .form-control{
    width:180px !important;
  }
}

#template-side{
  width: 0px;
  float: left;
  opacity: 0;
  height: 100%;
  background: #EBEBEB;
  -webkit-box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
  -moz-box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
  box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
  transition:0.3s;
  margin-right: 40px;
  padding:40px 15px;
  position: relative;
}
#catalog-side{
  width: 0px;
  float: left;
  opacity: 0;
  left:-70px;
  height: 100%;
  background: #EBEBEB;
  -webkit-box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
  -moz-box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
  box-shadow: 3px 0px 3px 0px rgba(105, 105, 105, 0.58);
  transition:0.3s;
  margin-right: 40px;
  padding:40px 15px;
  position: relative;
}

.enabled-aside{
  width:300px !important;
  transition:0.3s;
  opacity:1 !important;
}

.content {
  width: 100%;
  height: calc(100vh - 60px);
}
#content{
  padding:40px;
}

.card-body{

}
.card-image{

}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}